<article
  class="flex items-center justify-center"
>
  <div
    class="flex text-center flex-wrap content-start justify-start mt-40 px-2 py-2 bg-black/50 text-white rounded-lg border-4 border-gray-600"
    style="height:500px; width: 265px"
  >
    <div
      class="flex justify-between px-1 mb-1"
      style="width:100%"
    >
      <ng-icon
        name="heroChartBar"
      >
      </ng-icon>
      <span
        class="flex items-end"
      >
        <p
          class="mr-2"
        >{{currentDate}}</p>
        <p>{{currentTime}}</p>
        <p
          class="text-xs"
        >{{currentAmPm}}</p>
      </span>
      <ng-icon
        name="jamBatteryThreeQuartersF"
      >
      </ng-icon>
    </div>

    <ng-icon
      *ngFor="let button of buttonArray"
      name="{{button}}"
      class="{{buttonClass}} bg-yellow-600"
      (click)="openLink(button)"
    ></ng-icon>

    <ng-icon
      name="heroSquaresPlus"
      class="{{buttonClass}} bg-yellow-600"
      (click)="operateWindow('heroPlus')"
    ></ng-icon>

    <div
      class="{{displayToggle}} bg-black rounded-lg"
    >
      <ng-icon
        *ngFor="let button of buttonArrayBench; let index = index"
        name="{{button}}"
        class="{{buttonBenchClass}}"
        (click)="add(index, button)"
      ></ng-icon>
    </div>

  </div>
</article>
