<article
  class="flex items-center justify-center"
>
  <div
    class="flex text-center flex-wrap content-start justify-start mt-40 px-2 py-2 bg-black/50 text-white rounded-lg border-4 border-gray-600"
    style="height:500px; width: 265px"
  >
    <div
      class="flex justify-between px-1 mb-1"
      style="width:100%"
    >
      <ng-icon
        name="heroChartBar"
      >
      </ng-icon>
      <span
        class="flex items-end"
      >
        <p
          class="mr-2"
        >{{currentDate}}</p>
        <p>{{currentTime}}</p>
        <p
          class="text-xs"
        >{{currentAmPm}}</p>
      </span>
      <ng-icon
        name="jamBatteryThreeQuartersF"
      >
      </ng-icon>
    </div>

    <ng-icon
      *ngFor="let objs of buttonArray"
      name="{{objs}}"
      class="{{buttonClass}} {{iconColor}} {{iconShape}} cursor-pointer"
      (click)="appWindowToggle(objs)"
    ></ng-icon>


    <ng-icon
      name="heroSquaresPlus"
      class="{{buttonClass}} {{iconColor}} {{iconShape}} cursor-pointer"
      (click)="appWindowToggle('bench')"
    ></ng-icon>

<!-- all the apps -->

<article
  id="ionColorPalette"
  class="flex justify-center text-white"
  style="position: relative; z-index:10; width: 100%; height: 100%"
  [style.display]="appHiddenStyle"
>

      <div
        class="{{appDisplayClass}}"
        style="background-color: black; width: 257px; height:250px; display: flex"
      >

        <section
          class="flex flex-col"
        >
        <span
          class="flex justify-end"
        >
          <ng-icon
            name="heroXCircle"
            class="text-2xl"
            (click)="appWindowToggle('ionColorPalette')"
          >
          </ng-icon>
        </span>
          <span
            style="text-align: left"
          >
            Icon Shape
          </span>
          <span
            style="width: 200px"
          >
            <ng-icon
              (click)="updateIconShape('rounded-full')"
              name="heroPlus"
              class="{{buttonClass}} bg-black rounded-full"
            />
            <ng-icon
              (click)="updateIconShape('rounded-md')"
              name="heroPlus"
              class="{{buttonClass}} bg-black rounded-md"
            />
          </span>

          <span
            style="text-align:left"
          >
            Icon Color
          </span>
          <span
            class="flex flex-wrap"
          >
            <div
              (click)="updateIconColor('bg-yellow-600')"
              class="{{colorClass}} bg-yellow-600"
            >
            </div>
            <div
              (click)="updateIconColor('bg-blue-300')"
              class="{{colorClass}} bg-blue-300"
            >
            </div>
            <div
              (click)="updateIconColor('bg-red-300')"
              class="{{colorClass}} bg-red-300"
            >
            </div>
            <div
              (click)="updateIconColor('bg-green-600')"
              class="{{colorClass}} bg-green-600"
            >
            </div>
          </span>

        </section>
      </div>

</article>


<!-- App Bench -->


<article
  id="bench"
  class="flex justify-center"
  style="position: relative; z-index:10; width: 100%; height: auto;"
  [style.display]="appHiddenStyle"
>
  <div
    class="flex text-center flex-wrap content-start justify-start px-2 text-white"
    style="height:500px; width: 265px"
  >

    <div
      class="bg-black rounded-lg p-4 w-full"
    >
      <div
        class="flex flex-col items-end"
      >
        <ng-icon
          name="heroXCircle"
          class="text-2xl mb-2 -mt-1"
          (click)="appWindowToggle('bench')"
        ></ng-icon>
      </div>
      <ng-icon
        *ngFor="let button of buttonArrayBench; let index = index"
        name="{{button}}"
        class="{{buttonBenchClass}} {{iconShape}}"
        (click)="add(index, button)"
      ></ng-icon>
    </div>

  </div>
</article>


  </div>
</article>
